body, a, h1, h2, h3, h4, h5, h6, p, div, span, button {
    font-family: nunito,sans-serif;
    font-weight: 200;
}

.container979 {
    margin: 0 auto;
    width: 979px;
}

.navbar-item {
    padding-top: 0;
}

nav {
    margin: 0px 0px 19px calc((100% - 980px) * 0.5);
}

nav > ul > li {
    display: inline;
    padding: 20px;
}

nav > ul > li > a {
    display: inline-block;
    padding: 0 10px;
    color: #605E5E;
    transition: color 0.4s ease 0s;
    font-size: 14px;
}

a, .is-link, .email {
    color: #605E5E;
}

