<template>
  <div
    :class="{ 'is-active': show }"
    class="modal"
  >
    <div
      class="modal-background"
      @click="$emit('close')"
    />
    <div class="modal-content">
      <div class="box">
        <figure class="image is-square mb-10">
          <img
            :src="product.image_url"
            :alt="product.name"
            class="is-scaled-down"
          >
        </figure>
        <div class="content">
          <div class="field">
            <div class="">{{ product.name }}</div>
          </div>
          <div class="field">
            <div class="">{{ item.price | dollar }}</div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Size</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select
                      v-model="variant"
                      @change="variantChange($event)"
                    >
                      <option
                        v-for="variant in product.variants"
                        :key="variant.id"
                      >
                        {{ variant.size }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Quantity</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input
                    v-model="item.quantity"
                    class="input"
                    min="1"
                    max="24"
                    type="number"
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <button
              class="button is-danger"
              @click="addToCart"
            >
              Add to Cart
            </button>
          </div>
          <div class="content">{{ product.description }}</div>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click="$emit('close')"
    />
  </div>
</template>

<script>
import filters from '../mixins/filters'

export default {
  mixins: [ filters ],
  props: {
    product: {
      default: () => {},
      type: Object
    },
    show: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      item: {
        id: 0,
        quantity: 0
      },
      variant: null,
      variantIndex: 0
    }
  },
  computed: {
    showModal () {
      return this.show === true ? 'is-active' : ''
    }
  },
  watch: {
    product () {
      this.item = {
        id: this.product.id,
        quantity: 1,
        price: this.product.variants[0].price,
        variantId: this.product.variants[0].id
      }
      this.variant = this.product.variants[0].size
    }
  },
  methods: {
    addToCart () {
      const params = {
        product: this.product,
        variantId: this.item.variantId,
        quantity: this.item.quantity
      }

      this.$emit('submit', params)
      this.$emit('close')
    },
    variantChange (event) {
      const idx = event.target.selectedIndex
      this.item.price = this.product.variants[idx].price
      this.item.variantId = this.product.variants[idx].id
    }
  }
}
</script>
