<template>
  <div>
    <div class="container container979">
      <nav
        class="navbar"
        role="navigation"
        style=" margin-top: 25px;">
        <div class="navbar-brand">
          <span style="font-size: 12px;">
            <p>Canning, Nova Scotia</p>
            <a
              class="email"
              href="mailto:farmteam@sevenacresfarm.ca"
            >farmteam@sevenacresfarm.ca</a>
          </span>
        </div>

        <div
          id="navbarBasicExample"
          class="navbar-menu">
          <div class="navbar-end">
            <a href="https://www.facebook.com/sevenacresfarmns/?ref=aymt_homepage_panel">
              <img src="~/assets/facebook.webp">
            </a>
            <a href="https://www.instagram.com/farmforlife/">
              <img src="~/assets/instagram.webp">
            </a>
            <router-link
              to="cart"
              class="button is-danger is-pulled-right"
              style="margin: 3px 0 0 7px;"
            >
              <fa-icon :icon="['fas', 'shopping-cart']"/>
            </router-link>
          </div>
        </div>
      </nav>
    </div>
    <h1
      style="text-align: center;
        letter-spacing: 0.2em;
        font-family: nunito,sans-serif;
        font-size: 55px;
        font-weight: 200;
        color: #BC9B5D;
        margin-bottom: 46px;
      "
    >Seven Acres Farm &amp; Ferments</h1>
    <hr>
    <nav
      id="comp-iiyocj9v"
      style="width: 979px; height: 36px; overflow-x: visible;"
    >
      <ul
        style="text-align:center"
        role="navigation"
      >
        <li
          id="comp-iiyocj9v0"
          style="width: 135px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <a
            id="comp-iiyocj9v0linkElement"
            href="https://www.sevenacresfarm.ca"
            style="text-align: center; line-height: 36px;"
          >
            Home
          </a>
        </li>
        <li
          id="comp-iiyocj9v1"
          style="width: 146px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <a
            id="comp-iiyocj9v1linkElement"
            href="https://www.sevenacresfarm.ca/produce"
            style="text-align: center; line-height: 36px;"
          >
            Veggies
          </a>
        </li>
        <li
          id="comp-iiyocj9v2"
          style="width: 143px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <a
            id="comp-iiyocj9v2linkElement"
            href="https://www.sevenacresfarm.ca/flowers"
            style="text-align: center; line-height: 36px;"
          >Flowers
          </a>
        </li>
        <li
          id="comp-iiyocj9v3"
          style="width: 148px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <a
            id="comp-iiyocj9v3linkElement"
            href="https://www.sevenacresfarm.ca/ferments"
            style="text-align: center; line-height: 36px;"
          >Ferments
          </a>
        </li>
        <li
          id="comp-iiyocj9v4"
          style="width: 133px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <a
            id="comp-iiyocj9v4linkElement"
            role="button"
            tabindex="0"
            href="https://www.sevenacresfarm.ca/about"
            target="_self"
            class="ddm3repeaterButtonlinkElement"
          >
            <div class="ddm3repeaterButton_gapper">
              <div
                id="comp-iiyocj9v4bg"
                style="text-align:center"
                class="ddm3repeaterButtonbg">
                <p
                  id="comp-iiyocj9v4label"
                  style="text-align: center; line-height: 36px;"
                  class="ddm3repeaterButtonlabel"
                >About</p>
              </div>
            </div>
          </a>
        </li>
        <li
          id="comp-iiyocj9v5"
          style="width: 129px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <router-link
            to="/"
            style="text-align:center; color: #BC9B5D;"
          >Shop</router-link>
        </li>
        <li
          id="comp-iiyocj9v6"
          style="width: 145px; height: 36px; position: relative; box-sizing: border-box; overflow: visible;"
        >
          <a
            id="comp-iiyocj9v6linkElement"
            href="https://www.sevenacresfarm.ca/contact-us"
            style="text-align: center; line-height: 36px;"
          >Contact
          </a>
        </li>
      </ul>
    </nav>
    <nuxt/>
  </div>
</template>

<style>
.m-17 {
  margin: 17px;
}
.mt-10 {
  margin-top: 1rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.is-scaled-down {
  object-fit: scale-down;
}
</style>
