<template>
  <section class="container container979">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in cart"
          :key="item.id"
        >
          <td>{{ item.name + ' ' + item.size }}</td>
          <td class="has-text-right">{{ item.quantity }}</td>
          <td class="has-text-right">{{ item.price | dollar }}</td>
          <td class="has-text-right">{{ item.quantity * item.price | dollar }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      Subtotal: {{ subtotal | dollar }}
    </div>
    <div>
      HST: {{ hst | dollar }}
    </div>
    <div>
      Total: {{ total | dollar }}
    </div>
    <div class="mt-10">
      <button
        class="button is-danger"
        @click="sendToSquare"
      >
        Pay Now
      </button>
    </div>
    <i>Note: You will be redirected to Square.com for secure payment processing.</i>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import filters from '../mixins/filters'

export default {
  mixins: [filters],
  data () {
    return {
      link: null
    }
  },
  computed: {
    ...mapGetters({
      cart: 'cart/cart',
      checkoutUrl: 'cart/checkoutUrl',
      products: 'products/products'
    }),
    cartArray () {
      return Object.values(this.cart)
    },
    hst () {
      return this.subtotal * 0.15
    },
    subtotal () {
      const reducer = (accumulator, current) => accumulator + (current.quantity * current.price)
      return this.cartArray.reduce(reducer, 0)
    },
    total () {
      return this.subtotal + this.hst
    }
  },
  methods: {
    ...mapActions({
      addToCart: 'cart/addItem',
      removeFromCart: 'cart/removeItem',
      updateQuantity: 'cart/updateQuantity',
      checkout: 'cart/checkout'
    }),
    async sendToSquare () {
      await this.checkout()
        .then(() => {
          this.link = document.createElement('a')
          this.link.href = this.checkoutUrl
          this.link.click()
        })
    }
  }
}
</script>
