<template>
  <section class="container">
    <div class="columns is-multiline">
      <div
        v-for="product in localProducts"
        :key="product.id"
        class="column is-one-quarter"
      >
        <div class="card">
          <div class="card-image">
            <a
              @click="popup(product)"
            >
              <figure class="image is-square">
                <img
                  :src="product.image_url"
                  :alt="product.name"
                  class="is-scaled-down"
                >
              </figure>
            </a>
          </div>
          <div class="card-content has-text-centered">
            <div>
              <a
                class="is-link"
                @click="popup(product)"
              >
                {{ product.name }}
              </a>
            </div>
            <!-- <div class="subtitle">{{ product.price | dollar }}</div>
            <div class="select">
              <select
                v-model="variant"
              >
                <option
                  v-for="variant in product.variants"
                  :key="variant.id"
                >
                  {{ variant.size }}
                </option>
              </select>
            </div>
            <div>
              <button
                class="button is-danger is-centered mt-10"
                @click="addToCart(product)"
              >
                Add To Cart
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <product
      :product="product"
      :show="showModal"
      @submit="addFromModal($event)"
      @close="showModal=false"
    />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Product from '../components/Product'
import filters from '../mixins/filters'

export default {
  components: { Product },
  mixins: [ filters ],
  data () {
    return {
      localProducts: [],
      product: {},
      showModal: false
    }
  },
  computed: {
    ...mapGetters({
      cart: 'cart/cart',
      products: 'products/products'
    })
  },
  watch: {
    products () {
      this.localProducts = this.products.map(product => {
        product.price = product.variants[0].price
        product.size = product.variants[0].size
        return product
      })
    }
  },
  async created () {
    this.getProducts()
  },
  methods: {
    ...mapActions({
      addToCart: 'cart/addItem',
      addQuantity: 'cart/addQuantity',
      getProducts: 'products/getProducts',
      removeFromCart: 'cart/removeItem',
      updateQuantity: 'cart/updateQuantity'
    }),
    addFromModal (params) {
      this.addToCart(params)
    },
    popup (product) {
      this.product = product
      this.showModal = true
    }
  }
}
</script>

<style scoped>
.is-link:hover {
  text-decoration: underline;
}
</style>
