<template>
  <section class="container">
    <p class="title mt-10 mb-10">
      Thank you for your order!<br>We'll send you a shipping confirmation email in the next 48 hours.
    </p>
    <p class="subtitle mt-10">Cheers,</p>
    <i>The Seven Acres Farm and Ferments Team</i>
  </section>
</template>
